<!DOCTYPE html>
<html>
  <stl:include file="/include/head_single.html"></stl:include>
  <body>
    <stl:include file="/include/header.html"></stl:include> 
    <!--header-web-->
    <div id="main">
      <div id="container">
        <div class="decr"> <span class="title">搜索结果页</span>
          
        </div>
        <stl:search type="title,content" isHighlight="true">
          <stl:loading>
            <div class="alert alert-info" role="alert">
              <strong>提示!</strong> 系统正在搜索中，请稍后...
            </div>
          </stl:loading>
          <stl:yes>
            <stl:pageContents pageNum="10" isNoDup="true" groupChannelNot="not">
              <stl:if type="ImageUrl" operate="NotEmpty">
                <stl:yes>
                  <section class="list">
                    <div class=" mecc">
                      <h2 class="mecctitle"> <stl:a target="_blank"> <stl:content type="Title" wordNum="25" ellipsis=""></stl:content> </stl:a> </h2>
                      <address class="meccaddress">
                        <time> <stl:content type="AddDate" formatString="MM.dd"></stl:content> </time>
                        - 
                        <stl:tags context="Content">
                          <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}">{Tag.Name}</a>
                        </stl:tags>
                      </address>
                    </div>
                    <span class="titleimg"> <stl:a target="_blank"> <img width="500" height="300" src="{Content.ImageUrl}" class="attachment-thumbnail size-thumbnail wp-post-image" /> </stl:a> </span>
                    <div class=" zaiyao">
                      <p><stl:content type="Summary" wordNum="62" ellipsis=""></stl:content></p>
                    </div>
                    <div class="clear"></div>
                  </section>
                </stl:yes>
                <stl:no>
                  <section class="list">
                    <div class="mucc">
                      <h2 class="mecctitle"> <stl:a target="_blank"> <stl:content type="Title" wordNum="25" ellipsis=""></stl:content> </stl:a> </h2>
                      <address class="meccaddress">
                        <time> <stl:content type="AddDate" formatString="MM.dd"></stl:content> </time>
                        - 
                        <stl:tags context="Content">
                          <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}">{Tag.Name}</a>
                        </stl:tags>
                      </address>
                    </div>
                    <div class="zuiyao">
                      <p><stl:content type="Summary" wordNum="128" ellipsis=""></stl:content></p>
                    </div>
                    <div class="clear"></div>
                  </section>
                </stl:no>
              </stl:if>
            </stl:pageContents>
            <div class="clear"></div>
            <div class="posts-nav"> 
              <stl:pageItems autoHide="true">
                <stl:pageItem type="PageNavigation" listNum="5">
                  <stl:yes> <a class='page-numbers' href='{Current.Url}'>{Current.Num}</a> </stl:yes>
                  <stl:no> <span class='page-numbers current'>{Current.Num}</span> </stl:no>
                </stl:pageItem> 
                
              </stl:pageItems>
            </div>
          </stl:yes>
          <stl:no>
            <div class="alert alert-danger" role="alert">
              <strong>抱歉!</strong> 找不到和您的查询相符的项目
            </div>
          </stl:no>
        </stl:search>
      </div>
      <!--Container--> 
      <stl:include file="/include/aside.html"></stl:include>
      <div class="clear"></div>
    </div>
    <!--main--> 
    <stl:include file="/include/footer.html"></stl:include> 
    <!--dibu--> 
    <script type='text/javascript' src='{Stl.SiteUrl}/js/wp-embed.min.js'></script>
  </body>
</html>
